---
---

@import "{{ site.theme }}";

html { 
    background: url(/img/main-bg-sunset.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

header {
    background: #000;

    h1 {
        color: #fff;
    }
}

section {
    font-size: 16px;
}

footer {
    color: #000;
}

.wrapper {
    background: #fff;
}

.logo {
    font-family: 'Source Code Pro', monospace;
}